<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>BSERI - HTML5 Responsive Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" href="css/bootstrap.min.css" media="all" />
        <link rel="stylesheet" href="css/font-awesome.min.css" media="all" />
        <link rel="stylesheet" href="css/superfish.css" media="all" />
        <link rel="stylesheet" href="css/owl.carousel.css" media="all" />
        <link rel="stylesheet" href="css/owl.theme.css" media="all" />
        <link rel="stylesheet" href="css/jquery.navgoco.css"/>
        <link rel="stylesheet" href="css/jquery-ui-1.10.3.custom.css"/>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css"/>
        <!-- <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css"> -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,600,600italic,700italic,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800' rel='stylesheet' type='text/css'>

        <script src="js/modernizr.custom.js"></script>
        <script src="http://maps.google.com/maps/api/js?sensor=true"></script>

        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="img/favicon.ico">
        <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">


    </head>
	<body>

    <% include header %> 
    <% include register %>
    <% include signin %>
    
    <div id="main-content">

        <header class="page-header">

            <div class="mask-pattern"></div>

            <div class="mask"></div>

            <div class="page-header-bg page-header-bg-1"></div>

            <div class="page-header-inner">

                <div class="container">

                    <div class="row">

                        <div class="col-md-12">

                            <h1 class="page-title clearfix">
                                <span class="pull-left">Course List</span>
                            </h1>

                        </div>
                        <!-- col-md-12 -->

                    </div>
                    <!-- row -->

                </div>
                <!-- container -->

            </div>
            <!-- page-header-inner -->

        </header>
        <!-- page-header -->

        <div itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" class="kopa-breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
						<div class="pull-left"><span>Course list</span></div>
						<div class="pull-right">
							<a title="Return to Home" href="#" itemprop="url">
								<span itemprop="title">Home</span>
							</a>
							<span>&nbsp;/&nbsp;</span>
							<span itemprop="title" class="current-page">Course list</span>
						</div>
					</div>
                </div>
            </div>
        </div>
        <!-- kopa-breadcrumb -->

        <section class="kopa-area kopa-area-31">

            <div class="container">

                <div class="row hide">
                    <div class="col-md-9">
                        <h3> BSERI courses </h3>
                        <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lacinia, turpis non laoreet bibendum, felis est convallis justo, eu fringilla augue sapien placerat mauris. Nunc iaculis lectus nibh, in vestibulum ligula vehicula ac. Duis venenatis vestibulum eros, quis facilisis ex sollicitudin at. Nunc sodales, leo a malesuada luctus, felis diam accumsan velit, in rhoncus leo nisi vitae dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis in neque sollicitudin, interdum turpis sit amet, gravida orci. Nullam viverra tellus ac elit viverra suscipit. Vestibulum sollicitudin hendrerit risu</p>
                        <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lacinia, turpis non laoreet bibendum, felis est convallis justo, eu fringilla augue sapien placerat mauris. Nunc iaculis lectus nibh, in vestibulum ligula vehicula ac. Duis venenatis vestibulum eros, quis facilisis ex sollicitudin at. Nunc sodales, leo a malesuada luctus, felis diam accumsan velit, in rhoncus leo nisi vitae dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis in neque sollicitudin, interdum turpis sit amet, gravida orci. Nullam viverra tellus ac elit viverra suscipit. Vestibulum sollicitudin hendrerit risu</p>

                    </div>
                    <div class="col-md-3">

                        <div class="widget kopa-course-search-2-widget">

                            <h4 class="widget-title widget-title-s10">Courses search</h4>

                            <div class="widget-content">

                              <form method="post" action="#" class="course-form clearfix">

                                    <div class="select-block">
                                          <select>
                                              <option value="">Discipline</option>
                                              <option value="">Discipline</option>
                                              <option value="">Discipline</option>
                                              <option value="">Discipline</option>
                                              <option value="">Discipline</option>
                                          </select>
                                          <i class="fa fa-sort-desc"></i>
                                      </div>
                                      <!-- select-block -->

                                    <div class="select-block">
                                          <select>
                                              <option value="">Duration</option>
                                              <option value="">Duration</option>
                                              <option value="">Duration</option>
                                              <option value="">Duration</option>
                                              <option value="">Duration</option>
                                          </select>
                                          <i class="fa fa-sort-desc"></i>
                                      </div>
                                      <!-- select-block -->

                                    <div class="select-block">
                                          <select>
                                              <option value="">Level</option>
                                              <option value="">Level</option>
                                              <option value="">Level</option>
                                              <option value="">Level</option>
                                              <option value="">Level</option>
                                          </select>
                                          <i class="fa fa-sort-desc"></i>
                                      </div>
                                      <!-- select-block -->

                                    <div class="select-block">
                                          <select>
                                              <option value="">Location</option>
                                              <option value="">Location</option>
                                              <option value="">Location</option>
                                              <option value="">Location</option>
                                              <option value="">Location</option>
                                          </select>
                                          <i class="fa fa-sort-desc"></i>
                                      </div>
                                      <!-- select-block -->

                                  <input type="submit" value="search" class="course-submit">

                              </form>

                            </div>
                            <!-- widget-content -->

                          </div>
                    </div>
                </div>
                <!-- row -->
                <div class="row">

                    <div class="col-md-12">

                    	<div class="widget kopa-masonry-list-2-widget">

	    					<div class="widget-title widget-title-s5 text-center">
	                            <span></span>
	                            <h2>Recent Courses</h2>
	                            <p>See our features courses or see all courses to see all.</p>
	                        </div>

	    					<div class="masonry-list-wrapper">

                                <ul class="clearfix">

                                    <% for( i = 0 ; i < courses.length ; i ++) { %>
                                        <li class="masonry-item">
                                            <article class="entry-item hot-item">
                                                <div class="entry-thumbx">
                                                    <div class="mask"></div>
                                                    <a href="#"><img src=<%= courses[i].smallimage %> alt=""></a>
                                                    <% if(courses[i].isImportant == true) { %>
                                                        <span class="entry-hot">Hot</span>
                                                    <% } %>
                                                </div>
                                                <div class="entry-content">
                                                    <% if(courses[i].isTutorAvl == true) { %>
                                                        <div class="course-teacher">
                                                            <span>Trainer</span>
                                                            : <a href="#"><%= courses[i].Trainer %></a>
                                                        </div>
                                                    <% } %>
                                                    <h6 class="entry-title"><a href="#"><%= courses[i].title %></a><br><span><%= courses[i].briefdesc %></span></h6>
                                                    <br>
                                                    <a href='training/<%= courses[i].id %>' class="btn btn-primary">Take Course</a>

                                                </div>

                                            </article>
                                        </li>
                                        <!-- masonry-item -->
                                    <% } %>

                                </ul>
                                <!-- clearfix -->

                            </div>
                            <!-- masonry-list-wrapper -->

                            <div class="text-center hide">
                            	<a href="#" class="load-more">Load more</a>
                            </div>

	    				</div>
	    				<!-- widget -->

                    </div>
                    <!-- col-md-12 -->

                </div>
                <!-- row -->

            </div>
            <!-- container -->

        </section>
        <!-- kopa-area -->



    </div>

    <% include footer.html %>



    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js" charset="utf-8"></script>







</body>

</html>
